main {
  height: 82vh;
  width: 100vw;
  position: relative;
}

.img--wait,
img {
  height: 25vh;
  width: 20vw;
  border-radius: 12px;
  position: relative;
}

img:hover {
  cursor: pointer;
}

.img-wait {
  background-color: #a0a0a0;
}

.product--list {
  padding: 0px 70px;
  display: flex;
  justify-content: space-around;
}

.product--text {
  display: flex;
  flex-direction: column;
}

.product--text--main {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.product--title {
  font-weight: 600;
}

.product--price {
  padding: 5px 0px;
  text-align: right;
}

.product--discount {
  color: #462cdd;
}
.product--brand,
.product--discount {
  font-weight: 600;
  text-align: right;
}

.product--list__title,
.bookmark--list__title {
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.product--list__title {
  padding: 15px 90px;
}

.bookmark--list__title {
  padding: 15px 90px;
}

.product--title--subtitle {
  display: flex;
  flex-direction: column;
}

.product--subtitle {
  padding: 5px 0px;
}

.star {
  color: #e2e2e2;
  position: absolute;
  bottom: 25px;
  left: 255px;
}

.modal {
  position: absolute;
  left: 400px;
  bottom: 100px;
  z-index: 5;
}

.modal--item {
  width: 600px;
  height: 400px;
  position: relative;
}

.modal .fa-x,
.modal .fa-star {
  position: absolute;
  color: white;
  cursor: pointer;
  z-index: 7;
}

.modal .fa-x {
  top: 20px;
  right: -70px;
}

.modal .fa-star {
  color: #e2e2e2;
  top: 350px;
  left: 20px;
}

.modal--title {
  position: absolute;
  left: 60px;
  bottom: 25px;
  font-size: 20px;
  color: white;
  z-index: 7;
}

.no--bookmark {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no--bookmark__text {
  font-size: 40px;
}

.fa-cart-shopping {
  color: #442cdc;
  padding-top: 40px;
  padding-left: 100px;
}

.disable {
  display: none;
}
